<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">Užduočių sąrašas</div>
            <div class="card-body">
                <ul class="list-group">
                    <li [ngClass]="{'bg-primary': task.importance=='Nesvarbu',
                                     'bg-warning': task.importance=='Skubu',
                                    'bg-danger': task.importance=='Dega'}" class="list-group-item" *ngFor="let task of tasks; let i=index">
                        {{i+1}}. {{task.taskName}}. Svarba: {{task.importance}} <button class="btn btn-danger float-end" (click)="removeProduct(i)" onkeypress="enter">X</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Pridėti naują užduotį</div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="" class="form-label">Aprašymas</label>
                    <input type="text" class="form-control" [(ngModel)]="inputTaskName">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Svarba</label>
                    <select class="form-select" [(ngModel)]="selectedImportance">
                        <option value="Nesvarbu">Nesvarbu</option>
                        <option value="Skubu">Skubu</option>
                        <option value="Dega">Dega</option>
                    </select>
                </div>
            <button class="btn btn-success" (click)="addNewTask()" [disabled]="inputTaskName==''">Pridėti</button>
        </div>
    </div>
</div>