<div class="col-md-12">
    <div class="card">
        <div class="card-header">Pridėti naują užduotį</div>
        <div class="card-body">
            <div class="mb-3">
                <label for="" class="form-label">Aprašymas</label>
                <input type="text" class="form-control" #inputTaskName>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Svarba</label>
                <select class="form-select" #selectedImportance>
                    <option value="Nesvarbu">Nesvarbu</option>
                    <option value="Skubu">Skubu</option>
                    <option value="Dega">Dega</option>
                </select>
            </div>
        <button class="btn btn-success" (click)="addNewTask(inputTaskName, selectedImportance)">Pridėti</button>
    </div>
</div>
</div>